<button mat-flat-button color="primary" (click)="openDialog()" class="add-user-btn">
  Aggiungi Utente
  <mat-icon color="accent">account_circle</mat-icon>
</button>
<form [formGroup]="searchUserForm" (ngSubmit)="onSearchUserSubmit()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Cerca...</mat-label>
      <input matInput formControlName="keyword" type="text" #inputKeyword />
      <button mat-icon-button matSuffix type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="type-search">
    <p>Ricerca per</p>
    <mat-button-toggle-group formControlName="typeOfSearch">
      <mat-button-toggle value="name">Nome</mat-button-toggle>
      <mat-button-toggle value="email">Email</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</form>
<div *ngIf="!haveUser">
  <p>Nessun risultato trovato, provare con un altra ricerca.</p>
</div>
<div *ngIf="haveUser" class="users-container">
  <div *ngFor="let user of users" class="users">
    <app-user
      [user]="user"
      (updateUser)="updateUserView($event)"
      class="flex-center"
    ></app-user>
  </div>
  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    aria-label="Select page"
    (page)="handlePageEvent($event)"
    [length]="lenghtUsers"
  >
  </mat-paginator>
</div>
<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
