<div>
  <h3>Scrivi un nuovo post</h3>
  <form [formGroup]="newPost" (ngSubmit)="onNewPostSubmit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Titolo</mat-label>
        <input
          matInput
          formControlName="title"
          type="text"
          required
          placeholder="Inserisci un titolo..."
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Post</mat-label>
        <textarea
          matInput
          formControlName="body"
          required
          placeholder="Scrivi il tuo post..."
          maxlength="500"
        ></textarea>
      </mat-form-field>
    </div>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!newPost.valid"
    >
      <mat-icon>post_add</mat-icon>
      Aggiungi Post
    </button>
  </form>
</div>
