<div class="post">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>{{ user.name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ post.body }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="hide = !hide" color="accent">
        {{ hide ? "Mostra Commenti" : "Nascondi Commenti" }}
        <mat-icon>comment</mat-icon>
      </button>
    </mat-card-actions>
    <div  *ngIf="!hide">
      <p class="no-comments" *ngIf="!hasComment">Non ci sono commenti</p>
      <div *ngFor="let comment of allPostComments">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>
    <div class="comment">
      <form [formGroup]="addingComment" (ngSubmit)="onSubmitComment()">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Aggiungi un commento...</mat-label>
            <input matInput formControlName="comment" type="text" #commentInput/>
            <button mat-icon-button matSuffix type="submit">
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-card>
</div>
