mat-card-title {
  font-weight: 600;
}
.post {
  width: 70%;
  min-width: 250px;
  align-self: center;
  margin: 2rem 0;

  mat-card {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
}
mat-form-field {
  width: 100%;
}

.comment {
  margin-top: 1rem;
  align-self: center;
  width: 96.5%;
}
.no-comments {
  padding: 0 16px;
}
.show-comment{
  margin: 0 8px;
}
