form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  min-width: 250px;
  width: 30%;
}
.type-search {
  display: flex;
  justify-content: space-between;
}
mat-form-field {
  width: 100%;
}
mat-paginator{
  position: fixed;
  bottom: 0;
  width: 100vw;
}