form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  min-width: 250px;
  width: 30%;
}
mat-form-field {
  width: 100%;
}
.type-search {
  display: flex;
  justify-content: space-between;
}
.users {
  width: 100vw;
}
mat-expansion-panel-header mat-icon {
  margin: 0 5px;
}
mat-expansion-panel {
  background: rgba(22, 139, 42, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(108, 255, 133, 0.3);
}
.users-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
